{% extends "temp_base_b.html" %}
{% block head%}
    {{super()}}
    <link rel="stylesheet", type="text/css", href="{url_for('static', filename='/css/profile.css')}}">
{%endblock%}

{%block content %}
<div class="container">
    <div class="main-body">
        name: {{name}} </br>
        email: {{email}} </br>
        username: {{username}}</br>
        Data de cadastro: {{created_at}} </br>
        última atualização: {{updated_at}}
    </div>
    <div class="main-body">
        <h3>Alterar meus dados: </h3>
        <form id="loginForm" class="form form-register" method="POST" action="/user/{{username}}/update" role="form">
            {{ form.hidden_tag() }}
            {{form.name.label}} {{form.name(placeholder=name)}} </br>
            {{form.username.label}} {{form.username(placeholder=username)}} </br>
            {{ form.email.label}} {{ form.email(placeholder=email)}}</br>
            {{ form.password.label }} {{ form.password(placeholder=password) }}</br>
            {{form.submit}}
        </form>
    </div>
    <div class="main-body">
        <a class="btn btn-danger" href="/user/profile/{{username}}/delete" role="button">Deletar usuário</a>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js'></script>
{%endblock %}