{% extends "temp_base_b.html" %}
{% block content %} 
<main >
    <H2>EQUIPE</H2>

    <section class="container" id="container">
            <div class="card 0">
                <div class="card-img"></div>
                  <div class="card-info">
                    
                    <p class="text-title">Prof. Dr. Tales Paiva Nogueira</p>
                    <p class="funcao">Coordenador</p>
                    <p class="text-body">
                        Professor Adjunto da Unilab no Instituto de Engenharias e Desenvolvimento Sustentável
                    </p>
                    <a href="mailto: tales@unilab.edu.br?subject=Olá professor Tales :)">Contactar</a>
                  </div>
                </div>

                <div class="card n1">
                    <div class="card-img "></div>
                      <div class="card-info">
                        
                        <p class="text-title">Prof. Dr. Sabi Yari Moïse Bandiri</p>
                        <p class="funcao">Colaborador</p>
                        <p class="text-body">
                            Professor Adjunto da Unilab no Instituto de Engenharias e Desenvolvimento Sustentável                            </p>
                        <a href="mailto: bandiri@unilab.edu.br?subject=Olá professor Sabi :)">Contactar</a>
                      </div>
                    </div>


                    <div class="card n2">
                        <div class="card-img"></div>
                          <div class="card-info">
                            
                            <p class="text-title">Antonio Gildo de Freitas</p>
                            <p class="funcao">Voluntário</p>
                            <p class="text-body">
                                Estudante do curso de Engenharia de Energias
                            </p>
                            <a href="mailto: gildofreitas@aluno.unilab.edu.br?subject=Olá Gildo:)">Contactar</a>
                          </div>
                        </div>

                        <div class="card n3">
                            <div class="card-img"></div>
                              <div class="card-info">
                                
                                <p class="text-title">Edilson Rogério Cuambe</p>
                                <p class="funcao">Voluntário</p>
                                <p class="text-body">
                                    Estudante do curso de Engenharia de Computação
                                </p>
                                <a href="mailto: eddyrogerioyuran@gmail.com?subject=Olá Edilson :)">Contactar</a>
                              </div>
                            </div>

                            <div class="card n4">
                                <div class="card-img"></div>
                                  <div class="card-info">
                                    
                                    <p class="text-title">José Pedro Daniel Dembo</p>
                                    <p class="funcao">Voluntário</p>
                                    <p class="text-body">
                                        Estudante do curso de Engenharia de Computação
                                    </p>
                                    <a href="mailto: josedembo18@aluno.unilab.edu.br?subject=Olá Jose :)">Contactar</a>
                                  </div>
                                </div>


                                
                                <div class="card n5">
                                    <div class="card-img"></div>
                                      <div class="card-info">
                                        
                                        <p class="text-title">Dautarim Osvaldo Carvalho Andrelino</p>
                                        <p class="funcao">Voluntario</p>
                                        <p class="text-body">
                                            Estudante do curso de Engenharia de Computação
                                        </p>
                                        <a href="mailto: carvalhodeandrelino@gmail.com?subject=Olá Dautarim:)">Contactar</a>
                                      </div>
                                    </div>

                                
                                    <div class="card n6">
                                        <div class="card-img">

                                        </div>
                                            <div class="card-info">
                                            
                                            <p class="text-title">Wilham Lamine Queita Mendes</p>
                                            <p class="funcao">Voluntario</p>
                                            <p class="text-body">
                                                Estudante do curso de Engenharia de Computação
                                            </p>
                                            <a href="mailto: mendeswil710@gmail.com?subject=Olá Wilham:)">Contactar</a>
                                            </div>
                                    </div>

    </section>

    <section class="sobreoprojeto" id="sobreoprojeto">
        <h2>SOBRE O PROJETO</h2>

        <div class="falatorios">
            <div class="textof">
                
                <p>
                    Este site foi produzido no âmbito do projeto de extensão referente ao Edital PROEX 03/2020 - Programa de Bolsas de Extensão temático voltado ao enfrentamento à COVID-19. O projeto em questão trata da análise da evolução do novo Coronavírus (Covid-19) nos municípios de Redenção (CE), Acarape (CE) e São Francisco Do Conde (BA), cidades que sediam campi da Unilab.
                    
                </p>
            </div>
            
            <div class="imagemdaunilab">
                <img src="https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3066928:1626129780/Unilab.jpg?f=16x9&$p$f=058d5ce" alt="">
            </div>
        </div>

    </section>

</main>

<script>
    
  let botnavincio = document.querySelector('.btin')
  let botnavsobre = document.querySelector('.btsob')
  
  
  botnavsobre.classList.add('presente')
  botnavincio.classList.remove('presente')
  
  
  </script>
{% endblock %}