{% extends "temp_base_b.html" %}

{% block content %}
<main>
    <h2>Aplicação de vacinas</h2>
    <div class="slide vacina">
        <div id="plot1" class="mapinhas">
        
        </div>

    <div class="slide vacina"></div>
        <div id="plot2" class="mapinhas">
        
        </div>
    </div>
        
    <script>
    
        let botnavincio = document.querySelector('.btin')
        let botnavvacina = document.querySelector('.btvac')
                
        botnavvacina.classList.add('presente')
        botnavincio.classList.remove('presente')       
        
    </script>
    
</main>
{% endblock %}

{% block scripts %}
{{super()}}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graph_plot1 = {{ Plot1 | safe}};
  Plotly.plot('plot1',graph_plot1,{});

  var graph_plot2 = {{ Plot2 | safe}};
  Plotly.plot('plot2',graph_plot2,{});
</script>
{%endblock%}